.active,
.future,
.past {
  background-color: white;
  border-radius: 20px;
}

.step h1 {
  text-align: center;
  margin-bottom: 20px;

}

.step p {
  font-size: 35px;
}

.step a {
  text-shadow: none;
  text-decoration: underline;
}

ul {
  font-size: 70%;
  margin-left: 5%;
}

.seventy_percent {
  font-size: 70%;
}

.right {
  text-align: right;
}

.img-wrapper {
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}